main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
}
.wrapperTittleProjects {
  display: flex;
  justify-content: center;
  align-items: center;
}

article h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White);
  font-weight: 500;
  font-size: x-large;
  height: 20px;
}

.wrapperSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.containerslider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  height: 100%;
  width: 100%;
}

.cardProject {
  width: 264px;
  height: 264px;
  flex-shrink: 0;
  background-color: brown;
}
