
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}


body {
  /* opacity: 0.1; */
  /* background: linear-gradient(101deg, #0F0F0F 7.93%, #060021 100%); */
  font-family: Poppins;
  background-color: #000;
}

